html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Roboto', Arial, sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

/** {
	outline: 1px solid red;
}*/

/*=============================== mosaic flow ====================================*/
.mosaicflow__column { 
    float:left; 
} 

.mosaicflow__item img { 
    display:block; 
    width:100%; 
    height:auto; 
}


/*===================================================================================*/

*[class^='col'] {
    padding: 0;
}

.header {
    padding-top: 70px;
    padding-bottom: 240px;
    background: #56615a url(../img/header_bg.jpg) no-repeat 50% 0;
}

.header_logo {
    text-align: center;
    margin-bottom: 165px;
}

.header_logo__link,
.footer_logo__link {
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.1s;
}

.header_logo__link:focus,
.footer_logo__link:focus {
    text-decoration: none;
    color: #ffffff;
}

.header_logo__link:hover,
.footer_logo__link:hover {
    color: #cccccc;
    text-decoration: none;
}

.header_logo__link:active,
.footer_logo__link:active {
    text-decoration: none;
    color: #444e48;
}

.header_title h1 {
    margin: 0;
    font-size: 63px;
    line-height: 70px;
    font-weight: bold;
    color: #ffffff;
}

.header_title span {
    display: block;
    font-size: 23px;
    line-height: 30px;
    font-weight: bold;
    color: #b7b7b7;
}

.header_title p {
    margin: 0;
    color: #dcddd9;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.gallery {
    padding-top: 60px;
    padding-bottom: 60px;
}

.gallery_container__left {
    padding-right: 20px;
}

.gallery_container__left h2 {
    display: inline-block;
    vertical-align: middle;
    float: left;
    font-style: 30px;
    line-height: 40px;
    font-weight: 300;
    color: #000000;
    margin: 0;
    padding-right: 65px;
}

.gallery_container__left p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.gallery_container__left-items {
    margin-top: 55px;
}

.gallery_container__right {
    z-index: 99;
    margin-top: -100px;
}

.banner {
    padding-top: 100px;
    padding-bottom: 90px;
    background: #383838 url(../img/banner.jpg) no-repeat;
    text-align: center;
}

.banner_title__btn,
.footer_title__btn {
    display: block;
    width: 175px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #ffffff;
    text-decoration: none;
    font-size: 23px;
    line-height: 33px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
    transition: color 0.1s, background-color 0.1s;
}

.banner_title__btn:focus,
.footer_title__btn:focus {
    text-decoration: none;
    color: #ffffff;
}

.banner_title__btn:active,
.footer_title__btn:active {
    color: #000000;
    text-decoration: none;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

.banner_title__btn:hover,
.footer_title__btn:hover {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.banner_title p {
    margin: 0;
    margin-top: 25px;
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    color: #cbcbcb;
    padding: 0 50px;
}

.statistics {
    padding-top: 65px;
    padding-bottom: 125px;
}

.statistics_container h2 {
    margin: 0;
    font-size: 30px;
    line-height: 57px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.statistics_container h3 {
    margin: 0;
    margin-top: 40px;
    font-size: 30px;
    line-height: 57px;
    font-weight: 300;
    color: #000000;
}

.statistics_container p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #000000;
}

.statistics_container__stats {
    margin-top: 30px;
    text-align: center;
}

.statistics_container__stats span {
    font-size: 28px;
    line-height: 46px;
    font-weight: 500;
    color: #000000;
}

.statistics_container__stats p {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
}

.statistics_container__stats-item {
    background-color: #f5f5f5;
    padding-bottom: 5px;
}

.footer {
    text-align: center;
    background: #3f3f47 url(../img/footer_bg.jpg) no-repeat;
    padding-top: 110px;
    padding-bottom: 100px;
}

.footer_title p {
    margin: 0;
    margin-top: 25px;
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    color: #cbcbcb;
    padding: 0 5px;
}

.footer_video {
    margin-top: 85px;
}

.footer_logo {
    margin-top: 105px;
}





